body{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

blockquote p{
    font-style: italic;
}

cite{
    font-size: .5rem;
}

