
/* h1{
    border: solid hotpink 3rem;
}
p{
    border: indigo solid 3rem;
} */

div{
    border: indigo solid 3px;
    width: 25%;
}

.box2{
    width: 100%;
    background-image: url(https://place-puppy.com/300x300);

    height: 150px;
}